html {
  font-family: Verdana;
  background-color: black;
  text-align: center;
}

h1 {
  color: white;
  font-weight: normal;
  font-size: 50px;
}

h2 {
  color: gray;
  font-size: 21px;
  font-weight: normal:
}

a {
  color: aquamarine;
  font-size: 16px;
}

.image-phone {
    padding: 20px;
}

.copyright {
    color: gray;
    text-align: right;
}